.pageNotice {
    width: calc(100% - 4rem);
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: var(--fs-500);
    font-weight: semibold;
}