@use '../../../styles/mixins' as *;

.parSheetLinkButton {
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 0px rgb(0, 0, 0);
    background: hsl(var(--secondary-background-color));
    transform: skew( 25deg);
    

    & span {
        display: inline-block;
        transform: skew( -25deg);
    }
}