@use '../../../styles/mixins' as *;

.parSheetLinkButton {
    display: inline-block;
    padding: 1rem 2.5rem;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
    box-shadow: 8px 8px 0px rgb(0, 0, 0);
    font-size: var(--fs-600);
    font-weight: bold;

    & span {
        display: inline-block;
    }
}