:root {
  // Neutrals
  --background-color: 180 100% 25%; // #008080
  --secondary-background-color: 0 0% 75%; // #C0C0C0
  --text-color: 240 0% 10%; // #1A1A1A

  // Highlights
  --primary-color: 240 75% 25%; // #101070
  --secondary-color: 0 0% 67%; // #ACACAC
  --highlight-color: 60 60% 50%; // #CCCC33

  // Let's Get This Bread Queen
  --lgtbq-primary-color: 40 78% 64%; // #EBBA5B
  --lgtbq-secondary-color: 54 70% 74%; // #EBE18D
  --lgtbq-highlight-color: 37 100% 94%; // #FFF3E0

  // Tortilla Town
  --tt-primary-color: 130 76% 67%; // #6AEB7E
  --tt-secondary-color: 65 66% 94%; // #F8FAE6
  --tt-highlight-color:  0 78% 64%; // #EB5B5B 

  // Fayk Meats
  --fm-primary-color: 151 66% 68%; // #76E3AF
  --fm-secondary-color: 198 56% 75%; // #9DCEE3
  --fm-highlight-color: 40 56% 75%; // #E3CB9D

  // 2Byte Muffins
  --2bm-primary-color: 349 69% 65%; // #E3687E
  --2bm-secondary-color: 295 71% 62%; // #D85BE3
  --2bm-highlight-color: 194 66% 67%; // #74C8E3
}

[data-theme='dark'] {
  // Neutrals
  --background-color: 240 3% 17%; // #2b2b2e
  --secondary-background-color: 240 3% 12%; // #1d1d1f
  --text-color: 0 5% 96%; // #f5f4f4

  // Highlights
  --primary-color: 201 98% 41%; // #0288D1
  --secondary-color: 43 96% 58%; // #FBC02D
  --highlight-color: 339 100% 48%; // #F50057

  // Let's Get This Bread Queen
  --lgtbq-primary-color: 36 100% 50%; // #FF7043
  --lgtbq-secondary-color: 45 100% 51%; // #FFC107
  --lgtbq-highlight-color: 9 28% 19%; // #3E2723

  // Tortilla Town
  --tt-primary-color: 14 100% 70%; // #FF8A65
  --tt-secondary-color: 45 100% 58%; // #FFCA28
  --tt-highlight-color: 11 28% 24%; // #4E342E

  // Fayk Meats
  --fm-primary-color: 123 43% 39%; // #388E3C
  --fm-secondary-color: 49 98% 60%; // #FDD835
  --fm-highlight-color: 124 55% 24%; // #1B5E20

  // 2Byte Muffins
  --2bm-primary-color: 287 65% 40%; // #8E24AA
  --2bm-secondary-color: 340 100% 63%; // #FF4081
  --2bm-highlight-color: 251 69% 34%; // #311B92
}
