.mainHeading {
    margin-top: 2rem;
    width: calc(100% - 4rem);
    text-align: center;
    font-size: var(--fs-900);
    text-transform: uppercase;
    font-family: var(--font-heading);
    line-height: 1;
    letter-spacing: 2px;
}