

.navbar {
    width: calc(100% - 4rem);
    position: relative;
    margin: 0 auto;
    // height: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}